---
layout: default
---

{% for post in site.posts limit:1 %}
<header>
  <h1><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
</header>
<span class="date">
  <i class="fa fa-calendar"></i>
  {{ post.date | date: "%Y-%m-%d" }}
</span>

  {{ post.content }}
{% endfor %}

<hr>
<ul class="home">
  {% for post in site.posts offset:1 %}
  <li>
    <span class="date"> <i class="fa fa-calendar"></i>
      {{ post.date | date: "%Y-%m-%d" }}
    </span>
    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
  </li>
  {% endfor %}
</ul>
